html, body {
	font-family: "Lato", serif;
}

/* http://materializecss.com/color.html */
.banner {
	position: absolute;
	top: 0;
	left: 0;
	background: #4C4C4C;
	width: 100%;
	box-shadow: 0px 3px 5px #888888;
	text-indent: 2em;
  color: white;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* HOME PAGE //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#page {
  background: #4C4C4C;
  height: 3em;
}

#page li{
  list-style-type: none;
  display: inline-block;
  height: 3em;
}

#page li a {
  margin-right: 30px;
  text-decoration: none;
  color: white;
}

#page li a.active {
  color: #4C4C4C;
}

#page li.active {
  background: white;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* TITLE AND INFO /////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.initial {
  text-align: center;
}

h1 {
  display: inline-block;
  margin: 0 auto;
}

.initial #title {
	margin-top: 3em;
	text-align: center;
	color: #000000;
}

.initial #subTitle, h2 {
   text-align: left;
   color: #7eb7bc;
}

p.blurb {
	text-align: center;
	color: #4C4C4C;
}

.tabbed {
  margin-left: 1em;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* CUSTOM BUTTON NAVIGATION ///////////////////////////////////////////////////////////////////////////////////////////////*/
.navigators {
  text-align: center;
}

.navigators form {
  display: inline-block;
  vertical-align: top;
}

.navigators h4 {
  font-size: 1.5em;
  text-align: center;
}

.navigators .btn {
  border: 0;
  border-radius: 1em;
  margin-right: 1em;
  background-color: #7eb7bc;
  height:150px;
  width:150px;
  cursor: pointer;
  /*background-size: inherit;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
}

.navigators .btn:hover {
   background-color: #31767c;
   color: white;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    margin-left: 0.5em;
    display: inline-block;
    padding: 3px;
}

#tutorial p{
  color: #4C4C4C;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* MODAL QUIZ /////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* https://www.w3schools.com/howto/howto_css_modals.asp */
.dlg {
  display: none;
  transform: translate(-50%,-50%);

  position: fixed;
  left: 50%;
  top: 50%;

  width: 50%;
  height: 50%;

  z-index: 1; /*stay top most*/
  overflow: auto; /*scroll bar*/
  
  /* colouring */
  background-color: white;
  box-shadow: 0px 3px 20px #888888;
  border-width: 0;
  padding: 1.5em;
  padding-bottom: 3em;

  text-align: center;
}

.dlgContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* slideshow //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.gallery {
  text-align: center;
  background: black;
}

#slideshow {
  left: -50%;
  background-color: #4C4C4C;
}

#prevArrow{
  position: fixed;
  top: 50%;
  left: 1.5%;

  z-index: 1;
  font-size: 5em;
  color: white;
}

#nextArrow {
  position: fixed;
  top:50%;
  right:1.5%;

  z-index: 1;
  font-size: 5em;
  color: white;
}

.slideshowBtns {
  width: 100%;
  text-align: center;
}

.slideshowBtns img{
  display = inline;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* split left and right ///////////////////////////////////////////////////////////////////////////////////////////////////*/
.left {
  float: left;
  width: 50%
}

.right {
  margin-left: 50%;
}

input {
  float: right;
  margin-right: 6em;
}

