html, body {
	font-family: "Lato", serif;
}

/* http://materializecss.com/color.html */
.banner {
	position: absolute;
	top: 0;
	left: 0;
	background: #4C4C4C;
	width: 100%;
	box-shadow: 0px 3px 5px #888888;
	text-indent: 2em;
  color: white;
}

#page {
  background: #4C4C4C;
  height: 3em;
}

#page li{
  list-style-type: none;
  display: inline-block;
  height: 3em;
}

#page li a {
  margin-right: 30px;
  text-decoration: none;
  color: white;
}

#page li a.active {
  color: #4C4C4C;
}

#page li.active {
  background: white;
}

.initial {
  text-align: center;
}

h1 {
  display: inline-block;
  margin: 0 auto;
}

.initial #title {
	margin-top: 3em;
	text-align: center;
	color: #000000;
}

.initial #subTitle {
   text-align: left;
   color: #7eb7bc;
}

p.blurb {
	text-align: center;
	color: #4C4C4C;
}

.navigators {
  text-align: center;
}

.navigators form {
  display: inline;
}

.navigators h4 {
  font-size: 2em;
  text-align: center;
}

.navigators .btn {
  border: 0;
  border-radius: 1em;
  margin-right: 1em;
  background-color: #7eb7bc;
  height:150px;
  width:150px;
  cursor: pointer;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center 6em;
}

.navigators .btn:hover {
   background-color: #31767c;
   color: white;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    margin-left: 0.5em;
    display: inline-block;
    padding: 3px;
}

.arrowDown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.tutorial p{
    color: #4C4C4C;
}

/* MODAL QUIZ */
/* https://www.w3schools.com/howto/howto_css_modals.asp */
#quiz {
  display: none;
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  z-index: 1; /*stay top most*/
  width: 50%;
  height: 50%;
  overflow: auto; /*scroll bar*/
  text-align: center;
  
  /* colouring */
  background-color: white;
  box-shadow: 0px 3px 20px #888888;
  border: solid black;
  border-width: 0 3px 3px 0;
}