html, body {
	font-family: "Lato", serif;
}

/* http://materializecss.com/color.html */
.banner {
	position: absolute;
	top: 0;
	left: 0;
	background: #B2DFDB;
	width: 100%;
}

/* NOT SURE BUT THIS IS NOT WORKING */
.banner.content {
	color: #FFFFFF;
	position: absolute;
	text-indent: 10em;
	vertical-align: middle;
	width: 100%;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    margin-left: 0.5em;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* WELCOME PAGE */
h1.welcome {
	margin-top: 5em;
	text-align: center;
	color: #000000;
}

p.welcome {
	text-align: center;
	color: #4C4C4C;
}